.AiUserPreferences_container, AiUserPreferences_container > * {
    background-color:inherit;
}

.AiUserPreferences_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2%;
}

.genre_instructions {
    background-color: transparent;
    font-weight: bold;
    margin: 0;
}

.genre_instructions--black {
    color: var(--fontcolor-dark);
}

.AiGenres {
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem;
    margin: 1rem;
}

.story_section {
    background-color: transparent;
}