.BookList--black {
  background-color: #000000;
  .BookList {
    background-color: transparent;
    color: #ffffff;
  }
}

.BookList--black {
  background-color:  #000000;
  color: #ffffff;
}


.bookListSearchContainer--black {
  background-color: #000000;
}

.bookListSearchContainer--black > * {
  color: #ffffff;
  background-color: #000000;
}

.books__header--flex {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  background-color: transparent;
}
.books__header--flex > *{
  background-color: transparent;
}

.Books__Loading--black {
  margin-top: 5rem;
  background-color: #000000;
  color:#ffffff;
}

.Books__Loading--natural {
  margin-top: 5rem;
  background-color: transparent;
  color: #000000;
}

.bookListContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 4% 0%;
  background-color: transparent;
}

.bookListContainer-center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .books__header--flex {
    margin-top: 4rem;
  }

  .bookListContainer, .BookList__mostPopular {
    grid-template-columns: repeat(2, auto);
    margin-bottom: 0%;
  }
}

@media screen and (min-width: 1024px) {

  .bookListContainer {
    display: grid; 
    justify-content: center;
   }
  .bookListContainer, .BookList__mostPopular {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 1300px) {
  .bookListContainer .BookList__mostPopular {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (min-width: 1458px) {
  .bookListContainer, .BookList__mostPopular {
    grid-template-columns: repeat(5, auto);
  }
}
