.Preferences_container {
    margin-bottom: 1rem;
}

    .Preferences_container, .Preferences_container > * {
        background-color: inherit;
    }


.Preferences_container--black,
.Preferences_container--black > *,
.Preferences_container--black .Preferences_form > *,
.Preferences_container--black label {
    color: #ffffff;
    background-color: inherit;
}


.Preferences_container--natural,
.Preferences_container--natural .Preferences_container--natural > *,
.Preferences_container--natural .Preferences_form > *,
.Preferences_container--naturel label {
    color: #000000;
    background-color: inherit;
}

label {
    background-color: #ffffff;
}

.Preferences_form {
    display: none;
}

.Genres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem 0;
    margin: 1rem 0rem;
}

.DropDownMenu_label, .ReadingTime_label, .ReadingTime_radio {
    margin: 1rem 0.3rem;
    cursor: pointer;
}

.DropDownMenu_label {
    font-size:1.2rem;
}

.arrow--black {
    fill: var(--fontcolor-dark);
}

.arrow--natural {
    fill: var(--fontcolor-light);
}

.arrow_container {
    background-color: transparent;
    margin-left: 1rem;
}

.arrow {
    background-color: transparent;
}

.ReadingTime {
    margin-left: 0;
}

.Reading_time_range {
    width: 80%;
    cursor: grab;
}

.DropDownMenu_ckeckbox {
    visibility: hidden;
}



#toggleCheckbox:checked + .Preferences_form {
    display: block;
}

