.search_form--input {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: 19rem;
}

.search_form--input--black {
    color: var(--fontcolor-dark);
    border: 1px var(--forminputcolor) solid;
}

.search_form--black {
        background-color: inherit;
}

