.searchForm__input {
  margin-top: 2rem;
  font-size: 1.2rem;
  width: 15rem;
}

.searchForm--black {
  background-color: #000000;
}

@media screen and (min-width: 700px) {
  .searchForm__input {
    margin-top: 6rem;
  }
}
