node_modules/
.vscode/settings.json
/frontend/LibraryFrontEnd/src/.vs/src/FileContentIndex
/frontend/LibraryFrontEnd/src/.vs
/frontend/.vs/frontend/FileContentIndex
/frontend/.vs/frontend/v17
/frontend/.vs
/.vs

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
coverage
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vite*

