.opinionCreateCard{
  display: grid;
  width: 20em;
  height: 29em;
  background: rgb(253, 229, 187) 10%;
  padding-top: 5%;
  border-radius: 5%;
  margin:0 1em 10% 1em;
}

.opinionForm__footer{
 background: transparent;
 display: flex;
 justify-content: space-between;
 margin-top: 20%;
 margin-bottom: 10%;
 
}
.validation__errorMessage{
  color : red;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
}

.opinionForm__postButton {
  font-weight: bold;
  font-size: large;
  
  padding: 0.2em 3em;
  margin:auto 5%
  
}

.opinionForm__cancelButon{
  margin:auto 5%
}

