.opinionCreateCard {
  display: grid;
  width: 20rem;
  height: 29rem;
  padding-top: 5%;
  border-radius: 5%;
  margin: 0 1em 10% 1em;
}

.opinionCreate {
  background: rgb(253, 229, 187) 10%;
}

.opinionForm__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
  margin-bottom: 10%;
}
.validation__errorMessage {
  color: red;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
}

.opinionForm__postButton {
  font-weight: bold;
  font-size: large;
  padding: 0.2rem 3rem;
  margin: auto 5%;
}

.opinionForm__cancelButon {
  margin: auto 5%;
}
