.opinionCreateCard{
  display: grid;
  width: 20rem;
  height: 30rem;
  background: rgb(253, 229, 187) 10%;
}

.opinionForm__footer{
 background: transparent;
 display: flex;
}

.opinionForm__cancelButon{
  margin:auto 5%
}

.bookForm__postButton{
 margin-left: 10%;
}