.OpinionLoading {
  background-color: transparent;
}

.opinioncontainer {
  background-color: transparent;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  padding-left: 12%;
  padding-right: 3%;
  display: flex;
}

.opinioncontainer--card {
  display: grid;
  border-bottom-right-radius: 5%;
}

.opinionCardItems,
.img {
  background-color: rgb(253, 229, 187);
}

.opinioncard__reviews--flex {
  display: flex;
  justify-content: center;
}

.opinioncard__reviews__averageRate {
  font-weight: bold;
  text-align: right;
}

.opinioncard__reviews__star {
  text-align: left;
  margin-top: -1rem;
}

.OpinionCard__line {
  color: rgb(253, 229, 187);
  width: 90%;
  margin-bottom: 0;
}

.OpinionCard__LastReviewTitle {
  font-style: italic;
  text-align: left;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.opinionCard__userName {
  text-align: left;
  font-weight: bold;
}

.opinioncard__rate--flex {
  display: flex;
}

.opinioncard--view {
  text-align: justify;
  font-style: italic;
  width: 17rem;
  height: 4rem;
  border-color: transparent;
  resize: none;
  overflow: hidden;
}

.opinioncard__postDate {
  margin-left: 0.5rem;
  text-align: left;
}

.opinioncard__nbReview {
  cursor: pointer;
  color: #4ba5ff;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: left;
  margin: 0;
  text-decoration: underline;
}

.opinioncard--footer {
  display: flex;
  align-items: end;
  justify-content: center;
  border-bottom-right-radius: 5%;
}

.opinioncard--buttonmodify {
  margin-bottom: 5%;
}
.opinioncard--buttonmodify:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
