.AiStory {
    background-color:transparent;
}

.AiStory--black {
    color: var(--fontcolor-dark);
}

.AiStory--light {
    color: var(--fontcolor-light);
}

.AiStory__activated--false {
    display:none;
}

.AiStory__activated--true {
    display:contents;
}

.AiStoryButton {
    border-color: orange;
}

.AiStoryButton--black {
    color: var(--fontcolor-dark);
}

.AiStoryButton--natural {
    color: var(--fontcolor-light);
}