.AiStoryElement {
    background-color:transparent;
}


.AiStory--black {
    color: var(--fontcolor-dark);
}

.AiStory--light {
    color: var(--fontcolor-light);
}

.AiStory__activated--false {
    display:none;
}

.AiStory__activated--true {
    display: contents;
}

.AiStoryButton, .AiStoryButton>* {
    border-color: orange;
    cursor: pointer;
}

.AiStoryButton--black {
    color: var(--fontcolor-dark);
}

.AiStoryButton--natural {
    color: var(--fontcolor-light);
}

.AiStoryTextContainer {
    margin: 1rem;
    text-align: justify;
}