* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  color-scheme: light dark;
  background-color: white;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #484b86;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: #4b54ff 2px solid;
}

.bookform--inputs {
  display: grid;
  gap: 1%;
  grid-template-rows: 1fr 1fr 3fr 1fr;
}


.bookcontainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
}

.bookcard {
  background-color: rgb(253, 229, 187);
  border: 1px gray solid;
  border-radius: 3%;
  display: grid;
  grid-template-rows: 2fr 3fr;
  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(to right,  rgb(113, 73, 2) 10%, rgb(253, 229, 187) 10%);
}

.bookcard--header {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  background-color: transparent;
  padding-left: 10%;
}


.booktitle {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  color: rgb(173, 150, 19);
}

.bookauthor {
  background-color: transparent;
}

.booktitle--trashbutton {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 2%;
  
}

.iconeTrash{
  border-radius: 20%;
}



.opinioncontainer {
  background-color: transparent;
  border-bottom-right-radius: 5%;
  border-bottom-left-radius: 5%;
  padding-left: 12%;
  padding-right: 3%;
  display: flex;
}

.opinioncontainer--card {
  display: grid;
  border-bottom-right-radius: 5%;
  
}

.opinionCardItems,
.img {
  background-color: rgb(253, 229, 187);
}

.opinioncard--footer {
  display: flex;
  align-items: end;
  justify-content: center;
  border-bottom-right-radius: 10%;

}

.icone,
.button {
  background-color: #b7e4ff;
}

.opinioncard--view {
  text-align: justify;
}

.buttonmodify {
  margin-bottom:2% ;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}

@media screen and (min-width: 481px) {
  .bookcontainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .bookcontainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
