:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;
}
.bookcontainer{
  border: 1px whitesmoke solid
}
.bookcard{
  border: 1px white solid;
  display: flex;
  justify-content: space-between;
  
  
}

.opinion{
  border: 1px white solid
  
}


body {
  margin: 0;
  display: flex;
  place-items: center;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #484b86;
  background-color: #242424;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: #4b54ff 2px solid;
}


