* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color:black;
  color-scheme: light dark;
  background-color: white;
}

.bookform--inputs{
  display: grid;
  gap:1%;
  grid-template-rows:1fr 1fr 3fr 1fr ; 
}

.bookform--view{
  color: blue;
 text-align:left;
}

.bookcontainer{
 
  display:grid;
  grid-template-columns: 1fr;
  
  gap: 1%;
}

.bookcard{
  border: 1px gray solid;
  display:grid;
  border-radius: 5px;
}

.booktitlebutton{
  display: flex;
 flex-direction: column-reverse;
}

.booktitle{
  font-size: x-large;
  font-weight:bold;
}

.booktitle--trashbutton{
 
 justify-content: left;

  width:40px ;
  height: 40px;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #484b86;
  background-color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border: #4b54ff 2px solid;
}

@media screen and (min-width: 481px) {
  .bookcontainer{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 769px) {
  .bookcontainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
