.About_container {
    padding: 2rem;
}

.About_article {
   width:100%;
}

.OpenAiLink {
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
}

.OpenAiText {
    color: var(--iconeFontColor);
}