.opinionCreateCard--grid {
  display: grid;
  grid-template-rows: 20% 65% 15%;
  width: 20rem;
  height: 29rem;
  margin: 0 1em 2rem 0em;
  border: 1px black solid;
  border-radius: 10px;
}

.opinionCreate__header {
  border-radius: 10px;
}

.opinionCreate--natural {
  background: #ffffff;
}

.opinionCreate--black {
  background: #000000;
  color:#ffffff
}

.opinionCreateCard--black--grid {
  border: 1px #ffffff solid;
}

.opinionCreate__main--grid {
  display:grid;
  grid-template-rows: 25% 75%;
}
.opinionCreate__rateText {
  font-weight: bold;
  font-size: 1.125rem;
}

.opinionCreate__inputs--grid {
  display: grid;
  grid-template-rows: 65% 20% 15%;
}

.opinionForm__view {
  margin:0 2%;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 1.25rem;
}

.opinionCreate__input{
  max-width: 18.5rem;
  font-size: 1.25rem;
}

.opinionForm__footer--flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20%;
}
.validation__errorMessage {
  color: red;
  background-color: transparent;
  font-size:1rem;
  font-weight: bold;
}

.opinionForm__postButton {
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0.2rem 3rem;
  margin: auto 5%;
}

.opinionForm__cancelButon {
  margin: auto 5%;
  font-size: 1.125rem;
}
