@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.waitingImage {
    animation: rotate 3s linear infinite;
    width: 48px;
    height: 48px;
}
