.rate_container--flex, .rateClick_container--flex  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.rate_star,.rateClick_star ,.filled {
  background-color: transparent;
  color: rgb(240, 221, 118);
  font-size:xx-large;
}

.rateClick_star {
  cursor: pointer;
}

.rate_star--black {
  text-shadow: -1px 0 rgb(240, 221, 118), 0 1px rgb(240, 221, 118), 1px 0 rgb(240, 221, 118), 0 -1px rgb(240, 221, 118)   ;
}


.empty {
  color: black;
}