.bookcard__Image {
    border-radius: 9px 9px 0 0;
    border-bottom: gray 1px solid;
    width: 100%;
    height: 100%;
}

.bookcard__Image:hover {
    cursor: pointer;
}

.bookcard__DescriptionHearder {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.bookcard__DescriptionTitle--black {
    background-color: transparent;
    color: var(--fontcolor-dark);
    font-family: var(--fontfamily);
    margin-right: 3rem;
}

.flipImage {
    cursor: pointer;
}

.bookcard__DescriptionTitle--natural {
    background-color: transparent;
    color: var(--fontcolor-light);
    font-family: var(--fontfamily);
    margin-right: 3rem;
}

.bookcard__Description {
    background-color: transparent;
}


.bookcard__Description--black {
    color: var(--fontcolor-dark);
    font-family: var(--fontfamily);
    max-height: 75%;
    overflow-y: auto;
    padding: 0 0.5rem 0 0.5rem;
    margin-top:0;
}

.bookcard__Description--natural {
    color: var(--fontcolor-light);
    font-family: var(--fontfamily);
    max-height: 75%;
    overflow-y: auto;
    padding: 0 0.5rem 0 0.5rem;
    margin-top: 0;
}

.bookcard__header {
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    background-color: transparent;
}

