.About {
    background-color:transparent;
}

.About_container {
    padding: 0 10% 0 10%;
    
}

.About_article {
   width:100%;
   font-size:1.2rem;
}

.About--black {
    color: var(--fontcolor-dark);
    font-family: var(--fontfamily);
}

@media screen and (min-width: 700px) {
    .About_article {
        font-size:1.5rem;
    }
}