.AiStoryElement {
    background-color:transparent;
}


.AiStory--black {
    color: var(--fontcolor-dark);
}

.AiStory--light {
    color: var(--fontcolor-light);
}

.AiStory__activated--false {
    display:none;
}

.AiStory__activated--true {
    display: contents;
}

.AiStoryButton {
    margin-top: 1rem;
}

.AiStoryButton, .AiStoryButton > * {
    border-color: orange;
    cursor: pointer;
    width: 100%;
    max-width: 14rem;
}

.AiStoryButton__label {
    background-color: transparent;
    font-size: 1.5rem;
}

.AiStoryButton__label--black {
    color: var(--fontcolor-dark);
}

.AiStoryTextContainer {
    margin: 1rem;
    padding-top: 4rem;
}

