.bookcard__footer--flex {
    display: flex;
    max-width: 18rem;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}

.bookcard__footer-reviews-container {
    background-color: transparent;
    cursor: pointer;
    margin-left: 0.2rem;
    
}

.bookcard__footer-reviews-container:hover .bookcard__footer-average-rate,
.bookcard__footer-reviews-container:hover .bookcard__footer-numberOfReview {
    color: var(--fontcolor-link-hover);
}

.bookcard__footer-numberOfReview {
    color: var(--fontcolor-link);
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: bold;
}

.bookcard__footer-average-rate--flex {
    display: flex;
    background-color: transparent;
    
}

.bookcard__footer-average-rate {
    font-weight: bold;
    color: var(--fontcolor-link);
    text-decoration: underline;
    background-color: transparent;
    margin-left: 10%;
}

.bookcard__footer-ratestar {
    margin-left: 0.2rem;
    padding-top:0.2rem;
}

.bookFooter__RateButton {
    margin-bottom: 2%;
    margin-right: 3%;
    width: auto;
    font-size: 1rem;
    font-weight: bolder;
}

@media screen and (min-width: 700px) {
    .bookFooter__RateButton {
        font-size: 1.1rem;
    }
}
