.opinion__loading {
  background-color: transparent; 
}
.opinion__loading--black {
  color: #ffffff;
}

.opinionContainer {
  display: grid;
  border-bottom-right-radius: 5%;
  background-color: transparent;
  -webkit-logical-width:16rem;
  margin-left: 1rem;
}



.opinionContainer--antique {
  margin-left: 2.4rem;
}


.opinionCardItems {
  background-color: transparent;
}

.opinioncard__reviews--flex {
  display: flex;
  
}


.opinioncard__reviews__star {
  text-align: left;
  margin-top: -1rem;
}



.OpinionCard__LastReviewTitle {
  font-style: italic;
  text-align: left;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.opinionCard__userName {
  text-align: left;
  font-weight: bold;
}

.opinioncard__rate--flex {
  display: flex;
}

.opinioncard--view {
  text-align: left;
  font-style: italic;
  width: 16rem;
  height: 4rem;
  border-color: transparent;
  resize: none;
  overflow: hidden;
  font-size: 1rem;
}

.opinioncard__postDate {
  margin-left: 0.5rem;
  text-align: left;
}



.opinioncard--footer {
  display: flex;
  align-items: end;
  justify-content: center;
  border-bottom-right-radius: 5%;
}

.opinioncard--buttonmodify {
  margin-bottom: 5%;
}
.opinioncard--buttonmodify:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
