.AiUserPreferences_container, AiUserPreferences_container > * {
    background-color:inherit;
}

.story_section {
    background-color: transparent;
}

.AiGenres {
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0.5rem 0;
    margin: 1rem 0rem;
}