.BookList--black {
    background-color: inherit;
    
}

.BookList--black--flex {
    display: flex;
    flex-direction: column;
    background-color: inherit;
}

.BookList--black--flex > h1 {
        background-color: inherit;
        color: #ffffff;
}

.BookListTitle {
    text-align:left;
    margin-left:1rem;
    margin-top:1.5rem;
}

.Books__Loading--black {
    margin-top: 5rem;
    background-color: inherit;
    color: #ffffff;
}

.Books__Loading--natural {
    margin-top: 5rem;
    background-color: inherit;
    color: #000000;
}

.bookListContainer--flex {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    background-color: transparent;
}


@media screen and (min-width: 700px) {
    .bookListContainer--flex, .BookList__mostPopular {
        grid-template-columns: repeat(2, auto);
        margin-bottom: 0%;
    }
}

@media screen and (min-width: 1024px) {
    .bookListContainer--flex {
        display: grid;
        justify-content: center;
    }

    .bookListContainer--flex {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 1300px) {
    .bookListContainer--flex {
        grid-template-columns: repeat(4, auto);
    }
}

@media screen and (min-width: 1588px) {
    .bookListContainer--flex {
        grid-template-columns: repeat(5, auto);
    }
}
