.rate_container--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.rate_star, .filled {
  background-color: transparent;
  color: rgb(154, 131, 1);
  font-size:xx-large;
}

.empty {
  color: black
}