
.bookcard--grid {
  border: 1px gray solid;
  border-radius: 3%;
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  width: 20rem;
  height: 30rem;
  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(
    to right,
    #d4af37 10%,
    rgb(253, 229, 187) 10%
  );
  margin:0 1em 10% 1em;
}

.bookCard__RateButton{
 margin-top :4%;
 margin-bottom: 8%;
 margin-left: 30%;
 margin-right: 20%;
 font-size:1rem;
 font-weight:bolder;
 background-color: transparent;
 border-color: #a38729;

}

.bookcard--grid:after {
  display: flex;
  justify-content: end;
  margin-left: 0.4rem;
  height: 52px;
  bottom: 6px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #a69650;
  background-image: -webkit-linear-gradient(
    top,
    transparent 0.375rem,
    #a69650 0.5rem,          
    transparent 0.5rem,
    transparent 0.75rem,     
    #a69650 0.75rem,
    transparent 0.875rem,
    transparent 1.125rem,
    #a69650 1.125rem,
    transparent 1.25rem,
    transparent 1.5rem,
    #a69650 1.5rem,
    transparent 1.625rem,
    transparent 1.875rem,
    #a69650 1.875rem,
    transparent 2rem,
    transparent 2.25rem,
    #a69650 2.25rem,
    transparent 2.375rem,
    transparent 2.625rem,
    #a69650 2.625rem,
    transparent 2.75rem,
    transparent 3rem,
    #a69650 3rem,
    transparent 3.125rem
  );
  background-image: linear-gradient(
    to bottom,
    transparent 0.375rem,
    #a69650 0.5rem,          
    transparent 0.5rem,
    transparent 0.75rem,     
    #a69650 0.75rem,
    transparent 0.875rem,
    transparent 1.125rem,
    #a69650 1.125rem,
    transparent 1.25rem,
    transparent 1.5rem,
    #a69650 1.5rem,
    transparent 1.625rem,
    transparent 1.875rem,
    #a69650 1.875rem,
    transparent 2rem,
    transparent 2.25rem,
    #a69650 2.25rem,
    transparent 2.375rem,
    transparent 2.625rem,
    #a69650 2.625rem,
    transparent 2.75rem,
    transparent 3rem,
    #a69650 3rem,
    transparent 3.125rem
  );
  content: "";
  position: relative;
  width:19.6rem;
}

.bookcard--header {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  background-color: transparent;
  padding-left: 10%;
}

.booktitle {
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px #a38729;
  color: #d4af37;
  text-align:center;
  border-color: transparent;
  resize:none;
  max-height: 5rem;
  width: 94%;
  border-top-right-radius: 10%;
}

footer {
  background-color: transparent;
}

.bookauthor {
  background-color: transparent;
  margin:2%;
  margin-bottom: 0.2rem;
}

.bookform--view{
  resize: none;
}

.booktitle--trashbutton {
  display: flex;
  width: 25px;
  height: 30px;
  margin: 2%;
  padding-left:0;
}

.bookcard--iconeTrash {
  border-radius: 20%;
  height: 25px;
}

@media screen and (min-width: 395px) {
  .bookcard {
    width: 20rem;
  }
}


