.booksContainer {
  gap: 2%;
  display: grid;
  justify-content: center;
}

.bookcard--grid {
  border: 1px gray solid;
  border-radius: 3%;
  display: grid;
  grid-template-rows: 2fr 3fr 1fr;
  width: 20rem;
  height: 30rem;
  border-radius: 20px 16px 12px 32px;
  background-image: linear-gradient(
    to right,
    #d4af37 10%,
    rgb(253, 229, 187) 10%
  );
}
.bookCard__RateButton{
 margin-top :4%;
 margin-bottom: 8%;
 margin-left: 30%;
 margin-right: 20%;
 font-size:large;
 font-weight:bolder;
  color:saddlebrown; 
 background-color: transparent;
 border-color: #a38729;

}

.bookcard--grid:after {
  display: flex;
  justify-content: end;
  margin-left: 2%;
  height: 52px;
  bottom: 6px;
  right: 0px;
  background: white;
  border-radius: 32px 4px 4px 32px;
  box-shadow: inset 4px 6px 0px 0px #a69650;
  background-image: linear-gradient(
    to bottom,
    transparent 6px,
    #a69650 8px,
    transparent 8px,
    transparent 12px,
    #a69650 12px,
    transparent 14px,
    transparent 18px,
    #a69650 18px,
    transparent 20px,
    transparent 24px,
    #a69650 24px,
    transparent 26px,
    transparent 30px,
    #a69650 30px,
    transparent 32px,
    transparent 36px,
    #a69650 36px,
    transparent 38px,
    transparent 42px,
    #a69650 42px,
    transparent 44px,
    transparent 48px,
    #a69650 48px,
    transparent 50px
  );
  content: "";
  position: relative;
}

.bookcard--header {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  background-color: transparent;
  padding-left: 10%;
}

.booktitle {
  background-color: transparent;
  font-size: x-large;
  font-weight: bold;
  -webkit-text-stroke: 1px #a38729;
  color: #d4af37;
  margin: 0;
}

.bookauthor {
  background-color: transparent;
  margin:2%;
  margin-bottom: 8%;
}

.bookform--view{
  resize: none;
}

.booktitle--trashbutton {
  display: flex;
  width: 40px;
  height: 40px;
  margin: 2%;
}

.bookcard--iconeTrash {
  border-radius: 20%;
}

@media screen and (min-width: 395px) {
  .bookcard {
    width: 20rem;
  }
}

@media screen and (min-width: 698px) {
  .booksContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1042px) {
  .booksContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1458px) {
  .booksContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
