.Settings_container {
    border: 1px solid grey;
    padding-bottom:1rem;
}



.Settings {
    padding: 0rem;
}

.Settings_Theme {
    cursor:pointer;
}

.GitHub {
    background-color: inherit;
}

.Settings--black {
    color: #ffffff;
    background-color: inherit;
    h1{
          margin:0;
      }
}

.Settings--natural {
    color: #000000;
    background-color: inherit;
    h1 {
    margin: 0;
    }
}

.Setting_ThemeTitle {
    margin-bottom: 0rem;
}

@media screen and (min-width: 700px) {
    .Settings_container {
        margin-top:1.8rem;
        width:100%;
    }
}