.book-create-form__container {
  margin: 2rem auto auto auto;
  display: flex;
  justify-content: center;
  max-width: 20rem;
  max-height: 29rem;
  height: 362px;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
}

.input--black {
  background-color: #000000;
  color: #ffffff;
}

.input {
  width:90%;
}

.book-create-form__container--natural {
  background-color: #ffffff;
  border: 1px #000000 solid;
}

.book-create-form__container--black {
  background-color: #000000;
  border: 1px #ffffff solid;
}

.input__imageUrl--black,
.input__imageUrl--natural {
  font-size: large;
  text-decoration: underline;
  color: #067eff;
}


.book-create-form {
  background-color: transparent;
  display: grid;
  justify-content: initial;
  grid-template-rows: repeat(5, 1fr);
  width: 90%;
}

.validation__error-message {
  color: red;
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
}

.book-create-form__output-card {
  background-color: transparent;
}

.book-create-form__output {
  background-color: transparent;
  color: green;
  font-size: 2rem;
  font-weight: bold;
}
.book-create-form__output--back-to-home--black {
  background-color: transparent;
  margin: 0;
  color: white;
  text-decoration: underline;
}

.book-create-form__output--back-to-home--natural {
  background-color: transparent;
  margin: 0;
}


.book-create-form__post-button {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
  .book-create-form__container {
    margin: 6rem auto auto auto;
  }
}
