.bookcard--grid {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    display: grid;
    grid-template-rows: 70% 20% 10%;
    width: 18rem;
    min-width: 18rem;
    height: 29rem;
    min-height: 29rem;
    margin: 0 1rem 2rem 1rem;
    background-color: var(--backgroundcolor-white);
    border-radius: 10px;
    box-shadow: var(--cardboxshadow-lightmode);
}

.bookcard--grid:hover {
    box-shadow: var(--cardboxshadow-hover-lightmode);
}

.bookcard--black:hover {
    border: 1px var(--cardborder-hover) solid;
    box-shadow: var(--cardboxshadow-hover-darkmode);
}

.bookcard--black {
    background-color: inherit;
    box-shadow: var(--cardboxshadow-darkmode);
    & .booktitle, & .bookauthor {
    color: var(--fontcolor-dark);
    }
}


