#root {
  text-align: center;
}

.liste {
  margin: 0;
  padding: 0;
}


.navbar {
  font-size: large;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: #d4af37;
  z-index: 1;
  width: 100%;
  height:3.2rem;
}

.iconeTitle {
  background-color: #d4af37;
  margin: 0;
  color: white;
  font-weight: bolder;
}

.navbar__home {
  margin-left: 3%;
  transform: scale(0.8);
  margin-bottom: -0.5rem;
}

.nav__HomeIcone {
  margin-bottom: 1rem;
  margin-left:-1.5rem;
  

}
.nav__Home_title{
  margin-bottom:-1rem
}

.navbar__search{
  transform: scale(0.8);
  margin-bottom: -0.5rem;
}

.nav__search {
  margin-bottom: 1rem;
}

.nav__search__title {
  margin-left: 45%;
}

.navbar__addBook{
  transform: scale(0.8);
  margin-bottom: -0.5rem;
  margin-right: 5rem;
}


.nav__addBook {
  margin-bottom: 1.1rem;
  margin-left:1rem;
}

.addIcone {
  margin-bottom: 1.1rem;
  margin-left:1rem;
}

.nav__AddBook__Title {
  margin-right: -6rem;
}

.nav-link {
  text-decoration: none;
  position: fixed;
  bottom: 0;
  color: white;
  background-color: #d4af37;
}

.nav-linkt:hover {
  font-size: xx-large;
}

.navElement {
  background-color: #d4af37;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .navbar {
    position: sticky;
    top: 0;
    height: 4.71rem;
  }

  .nav-link {
    position: sticky;
    top: 0;
  }

  .navbar__home{
    transform: scale(1);
    margin-bottom: 0;
  }

  .nav__HomeIcone {
    margin-bottom: 0rem;
    margin-left:0rem;
  }

  .nav__search {
    margin-bottom: 0rem;
    
  }
  .navbar__search{
    transform: scale(1);
    margin-bottom: 0;
  }

  .nav__search__title {
    margin-left: 0%;
  }

  .navbar__addBook {
    margin-right: 1.5rem;
    transform: scale(1);
    margin-bottom: 0;
  }

  .nav__addBook {
    margin-bottom: 0rem;
    margin-left: -1.4rem;
  }

  .addIcone {
    margin-bottom: 0rem;
    margin-left: -3rem;
  }

  .nav__AddBook__Title {
    margin-left: 0rem;
    margin-right: 0rem;

  }

  .nav__search {
    margin-bottom: 0rem;
  }

  .nav__search__title {
    margin-left: 0%;
  }
}
