#root {
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
}

.App--black{
  background-color: #000000;
  .navbar--black{
    background-color:#000000;
  }
}

.navbar--grid {
  font-size: large;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: fixed;
  top: 0;
  border-bottom: 1px #ffffff solid;
  border-top: 1px #ffffff solid;
  z-index: 1;
  width: 100%;
  height: 3.3rem;
}

.navbar--antique{
  background-color: #d4af37;
}

.navbar--natural{
 background-color:rgb(47, 6, 150);
}

.icone {
  margin-bottom: -0.5rem;
  margin-top:-0.4rem;
}

.nav__Link--flex > * {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar--grid > * {
  transform: scale(0.8);
}

.iconeTitle {
  background-color: transparent;
  margin: 0;
  color: white;
  font-weight: bolder;
}

.addIcone {
  margin-left: -3.8rem;
}

.settingsIcone {
 cursor: pointer;
}

.nav__Settings__Title {
  margin-top: -0.5rem;
}

.nav-link {
  text-decoration: none;
  color: white;
  background-color:transparent;
}


@media screen and (min-width: 700px) {
  .nav-link {
    position: sticky;
    top: 0;
  }
  .navbar--grid {
    position: fixed;
    top: 0;
    height: 4.71rem;
  }

  .navbar--grid > * {
    transform: scale(1);
  }

  .nav__Settings__Title {
    margin-top: 0;
  }

  .icone {
    margin-bottom: 0rem;
    margin-top:0rem;
  }
}
