.bookCreateForm__container {
  margin: 2rem auto auto auto;
  display: flex;
  justify-content: center;
  max-width: 20rem;
  max-height: 29rem;
  padding: 1rem;
  position: relative;
  border-radius: 10px;
}

.input--black {
  background-color: #000000;
  color: #ffffff;
}

.input {
  width:90%;
}

.bookCreateForm__container--natural {
  background-color: #ffffff;
  border: 1px #000000 solid;
}

.bookCreateForm__container--black {
  background-color: #000000;
  border: 1px #ffffff solid;
}

.input__imageUrl--black,
.input__imageUrl--natural {
  font-size: large;
  text-decoration: underline;
  color: #067eff;
}


.bookCreateForm {
  background-color: transparent;
  display: grid;
  justify-content: initial;
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
}

.validation__errorMessage {
  color: red;
  background-color: transparent;
  font-size: 2rem;
  font-weight: bold;
}

.bookCreateForm__outpout__card {
  background-color: transparent;
}

.bookCreateForm__output {
  background-color: transparent;
  color: green;
  font-size: 2rem;
  font-weight: bold;
}
.bookCreateForm__output__backToHome {
  background-color: transparent;
}

.bookCreateForm__postButton {
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 700px) {
  .bookCreateForm__container {
    margin: 6rem auto auto auto;
  }
}
