.bookForm__container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
    0 0 300px 25px rgba(222, 198, 122, 0.7) inset;
  width: 20rem;
  height: 30rem;
  padding: 1rem;
  margin: 5% auto;
  position: relative;
}

.opinionForm__view {
  resize: none;
}

.bookForm {
  background-color: transparent;
  display: grid;
  grid-template-rows: repeat(5, 0.6fr);
  width: 100%;
}

.validation__errorMessage {
  color: red;
  background-color: transparent;
  font-size: large;
  font-weight: bold;
}

.bookform__output {
  background-color: transparent;
  color: green;
  font-size: large;
  font-weight: bold;
}

.bookForm__postButton {
  font-weight: bold;
  font-size: x-large;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  color: blue;
}
