.opinioncard___view--overflow{
 height: 20rem;
 width: 15rem;
 padding: 1rem 1rem ;
 background-color:transparent;
 font-size: large;
 font-style: italic;
 resize: none;
 border: none;
 
}

.opinioncard__username{
  background-color: transparent;
  border: none;
  text-align: center;
  margin-bottom: 2rem;
  font-size: large;
}

.opinioncard{
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
      0 0 300px 25px rgba(222, 198, 122, 0.7) inset;
    width: 100%;
    height: 100%;
    padding: 2px;
    position: relative;
}

.validation__errorMessage{
  color : red;
  background-color: transparent;
}

.validationButton__name{
  margin: 0;
  background-color: transparent;
}
