.books__header--flex {
  display:flex;
  flex-direction: column;
}

.booksContainer {
  display: grid;
  justify-content: center;
  margin: 4% 10%;
}

@media screen and (min-width: 768px) {
  .books__header--flex {
    margin-top: 4rem;
  }

  .booksContainer {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0%;
  }
}

@media screen and (min-width: 1024px) {
  .booksContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1458px) {
  .booksContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}