.OpinionList--natural {
    background: var(--backgroundcolorcard-light);
    margin: 0;
}

.OpinionList--black {
    background: inherit;
    margin: 0;
    color: var(--fontcolor-dark);
}

.OpinionList__container--grid {
    display: grid;
    grid-template-rows: 30% 65% 5%;
    width: 18rem;
    height: 29rem;
    border-radius: 10px;
    margin: 0 1rem 1rem;
    padding-top: 0rem;
    border: 1px grey solid;
}

.OpinionList__container--black {
    box-shadow: var(--cardboxshadow-darkmode);
    
}

.OpinionList__container--black:hover {
    border: 1px var(--cardborder-hover) solid;
    box-shadow: var(--cardboxshadow-hover-darkmode);
 }

.OpinionList__container--natural:hover {
    box-shadow: var(--cardboxshadow-hover-lightmode);
}

.OpinionList__header {
  margin-bottom: 0rem;
  border-radius: 15% 15% 0 0 ;
}

.OpinionList__header--flex {
  display: grid;
  grid-template-columns: 15% 85%;
  justify-content: center;
  border-radius: 15% 15% 0 0;
}

.OpinionList__header__flip {
  margin-left: 0rem;
  cursor: pointer;
  border-radius: 20%;
}

.OpinionList__header__title {
  max-height: 5rem;
  overflow: auto;
  margin: 0.15rem 0.15rem 0rem 0;
}

.OpinionList__header__author {
  text-align: left;
  margin-left: 1rem;
}

.OpinionList__header__nbReview {
  text-align: left;
  margin: 0.5rem 0 0.5rem 1rem ;
}

.OpinionList__main--flex {
  display:flex;
  flex-direction: column;
  width: 18rem;
}

.OpinionList__filter--flex {
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox; 
  display: flex;
  max-width: 18rem;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background-color: transparent;
}

.OpinionList__filter__button {
    display: flex;
    font-size: 1.5rem;
    max-width: 2.5rem;
    -webkit-text-size-adjust: 60%;
    text-size-adjust: 60%;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    color: var(--forminputcolor);
    border: 2px var(--forminputcolor) solid;
    border-radius: 0.5rem;
}

.OpinionList__filter__button:focus {
        border-color: var(--buttonhover-border);
        color: var(--buttonhover-border);
}

.OpinionList__reviews {
    max-height: 19rem;
    overflow-x: hidden;
    padding-left: 0.5rem;
    width: 17.5rem;
    font-size: 1.2rem;
}

.opinionlist__userName {
  text-align: start;
  font-weight: bold;
}

.OpinionList__rate--flex {
  display: flex;
  padding-top:0.4rem;
}

.OpinionList__date {
  margin-left: 0.5rem;
}

.OpinionList__view {
    text-align: justify;
    margin-bottom: 1rem;
    padding-right: 0.5rem;
    width: 16.3rem;
    font-family: var(--fontfamily);
}

.OpinionList__horizontalLine {
  margin-bottom: 1rem;
}

.OpinionList__footer {
  margin-top: 0.5rem;
  width: 16.6rem;
  border-top-right-radius: 0rem;
  border-bottom-left-radius: 1rem;
  margin-left: 0.2rem;
}

