.rate_container--flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
}

.rate_star, .filled {
  background-color: transparent;
  color: rgb(199, 170, 9);
  font-size:xx-large;
}

.rate_star--black {
  text-shadow: -1px 0 rgb(199, 170, 9), 0 1px rgb(199, 170, 9), 1px 0 rgb(199, 170, 9), 0 -1px rgb(199, 170, 9)   ;
}


.empty {
  color: black;
}