.BookList--black {
  background-color: inherit;
  .BookList {
    background-color: inherit;
    color: #ffffff;
  }
}

    .BookList--black--flex {
        display: flex;
        flex-direction: column;
        background-color: inherit;
    }

.BookList--black--flex > h1 {
        background-color: inherit;
        color:#ffffff;
}

.Books__Loading--black {
  margin-top: 5rem;
  background-color: #000000;
  color:#ffffff;
}

.Books__Loading--natural {
  margin-top: 5rem;
  background-color: transparent;
  color: #000000;
}

.bookListContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-color: transparent;
}

.bookListContainer-center {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 700px) {

  .bookListContainer, .BookList__mostPopular {
    grid-template-columns: repeat(2, auto);
    margin-bottom: 0%;
  }
}

@media screen and (min-width: 1024px) {

  .bookListContainer {
    display: grid; 
    justify-content: center;
   }
  .bookListContainer {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 1300px) {
  .bookListContainer {
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (min-width: 1458px) {
  .bookListContainer {
    grid-template-columns: repeat(5, auto);
  }
}
