.bookform__inputs {
  margin-top: 2%;
  display: grid;
  background-color: transparent;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  width: 10rem;
  padding-right: 3rem;
}

.input {
  margin-bottom: 1rem;
}

.bookform__view {
  resize: none;
}

.bookform {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
    0 0 300px 25px rgba(222, 198, 122, 0.7) inset;
  width: 100%;
  height: 350px;
  padding: 24px;
  position: relative;
}


