.notFound_message, .genreTitle {
    background-color: inherit;
    font-size: 1.5rem;
}

.notFound_message--black, .genreTitle--black {
    color: var(--fontcolor-dark);
}

.genreTitle {
    display:flex;
    margin-left:1rem;
}

.bookListContainer {
    margin-top: 0.5rem;
}