* {
  font-family: serif;
  color: black;
  color-scheme: light dark;
  background-color: white;
}
.input {
  background-color: white;
  margin-top: 5%;
  font-size: x-large;
  margin: 3%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #484b86;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border: #4bdeff 2px solid;
}

.icone,
.button {
  background-color: transparent;
}

body {
  margin: 0;
}
