:root {
    --backgroundcolor-darkmode: #1e1e1e;
    --backgroundcolor-whitesmoke: #F5F5F5;
    --backgroundcolorcard-light: #ffffff;
    --backgroundcolorcard-darkmode: #000000;
    --fontcolor-dark: #f3f3f4;
    --fontcolor-light: #000000;
    --fontcolor-link: #1f6feb;
    --fontcolor-link-hover: rgba(28,187,219);
    --fontfamily: Euclid,"Noto Sans","Droid Sans","Helvetica Neue",Corbel,Helvetica,Arial,sans-serif;
    --button-backgroundcolor: #1f6feb;
    --button-fontcolor: #ffffff;
    --buttonhover-border: #1cbbdb;
    --buttonclicked: #4bdeff;
    --cardborder-hover: #1cbbdb;
    --cardboxshadow-hover-lightmode: 0 4px 10px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    --cardboxshadow-hover-darkmode: 0 4px 8px 0 rgba(28, 187, 219, 0.95), 0 6px 20px 0 rgba(28, 187, 219, 0.85);
    --cardboxshadow-darkmode: 0 4px 8px 0 rgba(24, 180, 225, 0.55), 0 6px 20px 0 rgba(24, 180, 225, 0.5);
    --cardboxshadow-lightmode: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --forminputcolor: #6495ED;
    --cardbordercolor_dark: #ffffff;
    --cardbordercolor_light: #000000;
    background-color: var(--backgroundcolor-darkmode);
}

* {
  font-family: serif;
  color: black;
  color-scheme: light dark;
  background-color: var(--backgroundcolor-whitesmoke);
}

input {
  background-color: inherit;
  margin-top: 5%;
  font-size: x-large;
  margin: 3%;
  border-radius: 5px;
}

button {
  border-radius: 2rem;
  border: 2px solid transparent;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--button-fontcolor);
  background-color:var(--button-backgroundcolor);
  padding:0 1.2rem;
}

    button:hover, button:focus {
        border: var(--buttonhover-border) 2px solid;
        box-shadow: var(--cardboxshadow-hover-darkmode);
        color: var(--buttonhover-border);
    }

.icone {
  background-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  position:relative;
  top:0;
  left:0;
  width:100%;
}
