.StoryCard_container, .StoryCard_container > * {
    background-color: inherit;
    margin-top: 2rem;
}

.StoryCard_header--black, .AiUserPreferences_section {
    background-color: inherit;
    color: #ffffff;
}
