.StoryCard_container--flex {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}   
    
.StoryCard_header--black {
    background-color: inherit;
    color: #ffffff;
}
